@import 'reset';
@import 'loader';
@import 'media';
@import 'animate';

$generic-font: Courier, Monaco, monospace;
$font-stack: 'Lato', sans-serif;
$font-header: 'Lobster', serif; 
$primary-color: #333;
$white: #feffff;
$lightgrey: #ccc;
$red: #f85b68;
$light-border: 2px solid #ccc;

@mixin shadow($opacity) {
	-webkit-box-shadow: inset 0px 5px 220px -80px rgba(51,51,51,$opacity), inset 0px 80px 80px -104px rgba(51,51,51,$opacity);
	box-shadow: inset 0px 5px 220px -80px rgba(51,51,51,$opacity), inset 0px 80px 80px -104px rgba(51,51,51,$opacity);
}

@mixin moz-shadow($opacity) {
	-webkit-box-shadow: inset 0px 5px 120px -80px rgba(51,51,51,$opacity),  inset 0px 80px 80px -120px rgba(51,51,51,$opacity);
	box-shadow: inset 0px 5px 120px -80px rgba(51,51,51,$opacity),  inset 0px 80px 80px -120px rgba(51,51,51,$opacity);
}

@mixin dark-shadow() {
	-webkit-box-shadow: inset 0px 10px 200px -100px rgba(51,51,51,0.7);
	box-shadow: inset 0px 10px 200px -100px rgba(51,51,51,0.7);
}

@mixin moz-dark-shadow() {
	-webkit-box-shadow: inset 0px 10px 100px -100px rgba(51,51,51,0.7);
	box-shadow: inset 0px 10px 100px -100px rgba(51,51,51,0.7);
}

html, body {
	height: 100%;
}

body {
	padding: 0;
	font-family: $font-stack;
	color: $primary-color;
	background-color: $white;
}
::-webkit-input-placeholder { color:$white; }
::-moz-placeholder { color:$white; opacity: 1; } /* firefox 19+ */
:-ms-input-placeholder { color:$white; } /* ie */

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}


.header {
	z-index: 1;
	position: relative;
	width: 100%;
	min-height: 190px;
	text-align: center;
	background-color: #273346;
	background-image: url('../img/gradient.png');
	background-repeat: repeat-x;
	padding-top: 15px;
	color: $white;
	@include dark-shadow();

	button {
		font-family: $font-stack;
		font-weight: 900;
		color: #35455d;
		width: 130px;
		height: 30px;
		border: none;
		background-color: $white;
		border-radius: 15px;
		margin-top: 10px;
		transition: all 0.3s;
  		cursor: pointer;
	}
	button:hover {
		background: none;
		color: $red;
	}
}

h2 {
	font-family: $font-header;
	margin: 10px 0;
}

h1 {
	@extend h2;
	font-size: 3em;
}

@-moz-document url-prefix() {
	.header {
		@include moz-dark-shadow();
	}
}

.table-head {
	width: 100%;
	height: 40px;
	padding: 10px 0;
	

	* {
		display: inline-block;
		font-family: $font-stack;
		font-size: 1.2em;
	}

	input {
		float: left;
		border: none;
		padding: 0 10px;
		margin-left: 10px;
		height: 100%;
		background: none;
		color: $white;
		border-radius: 22px;
		transition: all 0.3s;

	}
	input:focus {
		background-color: $white;
		color: $primary-color;
	}
	input:hover {
		@extend input:focus;
	}
	.count {
		float: right;
		margin: 12px 20px;
	}
}

// LOADING SPINNER LOADING SPINNER LOADING SPINNER

.id {
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background-color: $primary-color;
	text-align: center;
	margin: 15px 5px;

	div {
		color: #eee;
		margin-top: 6px;
	}
}

// MASTER DETAIL MASTER DETAIL MASTER DETAIL MASTER DETAIL

.list {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 90px -10px rgba(51,51,51,0.5);
	box-shadow: 0px 0px 90px -10px rgba(51,51,51,0.5);

	.noresults {
		position: absolute;
		width: 100%;
		text-align: center;
		color: $lightgrey;
		height: 200px;
		padding-top: 100px;
	}
}

// MASTER MASTER MASTER MASTER MASTER MASTER MASTER MASTER

.master {
	position: relative;
	min-height: 58px;
	padding-top: 42px;
	padding-right: 100px;
	cursor: pointer;
	transition: 1s;
	@include shadow(0.5);

	* {
		display: inline-block;
		color: $primary-color;
	}

	.record {
		margin-bottom: 42px;
		padding: 0 10px;
		border-right: 1px solid $red;
		transition: 0.3s;
	}

	.wrap {
		position: absolute;
		float: right;
		right: 50px;
		top: 42px;
		transition: 0.3s;
	}
}
.master:hover {
	@include shadow(0.9);

	.wrap {
		color: $red;
	}
	.record {
		border-right: 1px solid #777;
	}
}

@-moz-document url-prefix() {
	.master {
		@include moz-shadow(0.5);
	}
	.master:hover {
		@include moz-shadow(0.9);
	}
}

// DETAIL DETAIL DETAIL DETAIL DETAIL DETAIL DETAIL DETAIL DETAIL

.detail {
	font-size: 0.8em;
	line-height: 1.2em;
	background-color: #33425a;
	background-image: radial-gradient(
			#405472,
			#303e56 110%
		);
	color: $white;
	padding: 10px;
	@include dark-shadow();

	.record {
		
		.nextline {
			clear: right;
		}

		.key {
			display: inline-block;
		}

		.value {
			display: inline-block;
			clear: right;
			color: $red;
			word-wrap: break-word;
			white-space: pre-wrap;
			white-space: -pre-wrap;
		}

		.inobject {
			padding: 0 20px;
			border-left: 1px solid #ccc;
			display: inline-block;

			.key {
				color: #ccc;
			}
			.value {
				color: #4fc6bb;
			}
		}
	}
}

@-moz-document url-prefix() {
	.detail {
		@include moz-dark-shadow();
	}
}

// FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER

.footer, .push {
	height: 4em;
	position: relative;
	p {
		font-size: 0.8em;
		text-align:  center;
		padding: 1.6em 0;
	}

	a {
		color: $primary-color;
		text-decoration: none;
		transition: 0.3s;
		img {
			position: absolute;
			width: 1em;
			opacity: 0;
			transition: 0.3s;
			margin-left: 0.2em;
			top: 1.4em;
		}
	}
	a:hover {
		color: $red;
		img {
			opacity: 0.8;
		}
	}
}