<div>{{ key + " : " }}
	<span ng-if="value && key != 'Dluznicy' && key != 'OsobaProwadzaca' ">{{ value }}</span>
	<div class="inobject" ng-if="key == 'Dluznicy'" ng-repeat="dluznik in this.case['Dluznicy']">
		<div ng-repeat="(k, v) in this.case['Dluznicy'][$index]">{{ k + " : " }}
			<span ng-if="v">{{ v }}</span>
			<span ng-if="v === 'undefined' || v === null || v === []">Brak danych</span>
			<span ng-if="v === false">false</span>
		</div>
	</div>
	<div class="inobject">
		<div ng-if="key == 'OsobaProwadzaca'" ng-repeat="(a, b) in this.case['OsobaProwadzaca']">{{ a + " : " }}
			<span ng-if="b">{{ b }}</span>
			<span ng-if="b === 'undefined' || b === null || b === []">Brak danych</span>
			<span ng-if="b === false">false</span>
		</div>
	</div>
	<span ng-if="value === 'undefined' || value === null || value === []">Brak danych</span>
	<span ng-if="value === false">false</span>
</div>