<div>
	<div class="key">{{ key + " : " }}</div>
	<div class="nextline" ng-if="!isEmpty(value) && key == 'Dluznicy' || !isEmpty(value) && key == 'OsobaProwadzaca'"></div>
	<div class="value" ng-if="!isEmpty(value) && key != 'Dluznicy' && key != 'OsobaProwadzaca' ">{{ value }}</div>
	<div class="inobject" ng-if="key == 'Dluznicy'" ng-repeat="dluznik in this.case['Dluznicy']">
		<div class="record" ng-repeat="(k, v) in this.case['Dluznicy'][$index]">
			<div class="key">{{ k + " : " }}</div>
			<div class="value" ng-if="!isEmpty(v)">{{ v }}</div>
			<div class="value" ng-if="isEmpty(v)">Brak danych</div>
		</div>
	</div>
	<div class="inobject" ng-if="key == 'OsobaProwadzaca' && !isEmpty(value)">
		<div class="record" ng-repeat="(a, b) in this.case['OsobaProwadzaca']">
			<div class="key">{{ a + " : " }}</div>
			<div class="value" ng-if="!isEmpty(b)">{{ b }}</div>
			<div class="value" ng-if="isEmpty(b)">Brak danych</div>
		</div>
	</div>
	<div class="value" ng-if="isEmpty(value)">Brak danych</div>
</div>