<!DOCTYPE html>
<html lang="en" ng-app="casesApp">
<head>
	<meta charset="UTF-8">
	<title>:8080</title>

	<link href='https://fonts.googleapis.com/css?family=Lobster|Arimo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.min.css">

	<script src="../node_modules/angular/angular.js"></script>
	<script src="js/main.min.js"></script>
</head>
<body ng-app="casesApp">
	
	<div ng-controller="CasesListCtrl">
		<!-- HEADER HEADER HEADER HEADER HEADER HEADER -->
		<div class="header">
			<h1>Sprawy</h1>
			<h2>aplikacja dla Malvion</h2>
			<button ng-click="loadCases()">Wczytaj dane</button>
		</div>
		
		<!-- MASTER - DETAIL MASTER - DETAIL MASTER - DETAIL -->

		<div class="table-head">
			<input type="search" ng-model="x" placeholder="filtruj sprawy..." aria-label="filtr spraw" />
			<div class="count">
				wczytane sprawy: {{results.length ? results.length : "0"}}
			</div>
		</div>
		<ul class="list">
			<li ng-repeat="case in cases | filter:x as results">
				<div class="master">
					<div class="id"><div>{{ case.Id }}</div></div>
					<button ng-click="visible = !visible">szczegóły</button>
				</div>
				<div class="detail" ng-show="visible" ng-repeat="(key, value) in cases[$index]">
					<div>{{ key }} : {{ value === null ? "Brak danych" : value }}</div>
				</div>
			</li>
			<h1 class="noresults" ng-if="results.length == 0">
				brak wyników...
			</h1>
		</ul>
	</div>


</body>
</html>