<!DOCTYPE html>
<html lang="en" ng-app="casesApp">
<head>
	<meta charset="UTF-8">
	<title>Sprawy</title>

	<link href='https://fonts.googleapis.com/css?family=Lobster|Lato:300,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.min.css">

	<script src="../node_modules/angular/angular.js"></script>
	<script src="js/main.min.js"></script>
</head>
<body ng-app="casesApp">
	
	<div class="wrapper" ng-controller="CasesListCtrl">

		<!-- HEADER HEADER HEADER HEADER HEADER HEADER -->

		<div class="header">
			<div>
				<h1>Sprawy</h1>
				<h2>aplikacja dla Malvion</h2>
				<button ng-click="loadCases()">{{cases === null ? "wczytaj dane" : "odśwież"}}</button>
			</div>
		
		
		<!-- MAIN TABLE MAIN TABLE MAIN TABLE MAIN TABLE -->

			<div class="table-head">
				<input type="search" ng-model="x" placeholder="filtruj..." aria-label="filtr spraw" />
				<div class="count">
					wczytane: {{results.length ? results.length : "0"}}
				</div>
			</div>
		</div>
		<!-- LOADING SPINNER LOADING SPINNER LOADING SPINNER -->

		<div id="loader" ng-show="loading"></div>

		<!-- MASTER DETAIL MASTER DETAIL MASTER DETAIL -->

		<ul class="list">
			<li ng-repeat="case in cases | filter:x as results">
				<div class="master" ng-click="visible = !visible">
					<div class="record" ng-repeat="(key, value) in this.case" ng-if="$index <= 4">
						<cases-list/>
					</div>
					<div class="wrap">{{ visible ? "zwiń" : "rozwiń" }}</div>
				</div>
				<div class="detail" ng-if="visible">
					<div class="record" ng-if="$index > 4" ng-repeat="(key, value) in this.case">
						<cases-list/>
					</div>
				</div>
			</li>
			<div class="noresults" ng-if="results.length == 0">
				<h1>brak wyników...</h1>
			</div>
		</ul>
		<div class="push"></div>
	</div>

	<div class="footer">
		<p>Copyright &copy; 2016 <a href="https://pl.linkedin.com/in/michalkubrycz" target="_blank">Michał Kubrycz <img src="img/linkedin-logo.png" alt="LinkedIn"></a></p>
	</div>

</body>
</html>